// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'queries';

@media only screen and (max-width: 480px) {
 display: flex;
 flex-direction: column;

}




nav {
  width: 100%;
  padding: 1rem;
  background: black;
  display: flex;
  justify-content: center;
}

.logo {
  width: 10%;
  height: 3rem;
}

.nav-words {
  display: flex;
  color: white;
  padding: 0 1rem;
  font-size: 1rem;
}

.nashville {
  color: inherit;
  text-decoration: none;
}

.nashville:hover {
  font-size: 1.2rem;
  color: #17f112;

}

.top-o-page {
  text-align: center;
  padding: 3rem;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  background: #41d0e1;
  font-family: Verdana;
}

h1 {
  font-size: 3rem;
  padding: 2rem 0;
  margin: 0;

}

h6 {
  color: #fff;
  margin: 0;
  padding-bottom: 2rem;
}

.projects {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.left-block {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  height: 50%;
}

.left-text {
  padding: 0 1rem;
  margin: 1rem;
  width: 50%;
}

.text-img_left {
  padding: 2rem 2rem 0 0;
  width: 50%;
}

.right-block {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.right-text {
  // padding: 0 1rem;
  margin: 1rem;
  width: 50%;
}

.text-img_right {
  padding-left: 2rem;
  width: 50%;
}

h3 {
  font-size: 3.3rem;
  margin: 0 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  background: black;
  margin-top: 4rem;
  width: 100%;
}

.icons {
  color: #fff;
  font-size: 2rem;
  width: 60%;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.block-top {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.left-pic {
  width: 25%;
  display: flex;
  margin: .5rem 1rem;
  position: relative;
}

.left-pic_item {
  width: 100%;
  object-fit: fill;
  height: 20rem;
}

.right-pic {
  width: 40%;
  display: flex;
  margin: .5rem 1rem;
  position: relative;
}

.right-pic_item {
  width: 100%;
  height: 20rem;
  object-fit: fill;
}

.block-btm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.right-pic_item-btm {
  display: flex;
  width: 100%;
  height: 20rem;
  object-fit: fill;
}

.left-pic_item-btm {
  width: 100%;
  height: 20rem;
  object-fit: fill;
}

.left-pic, .right-pic {
  &:hover .hover-text {
    display: flex;
    flex-direction: column;
  }
}

.hover-text {
  position: absolute;
  display: none;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  top: 0%;
  left: 0%;
  background: rgba(0,0,0,0.7);
  margin: 0;
  height: 100%;
  padding: 1rem;
}

span {
  font-size: 2.5rem;
}
