// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'queries';

nav {
  width: 100%;
  padding: 1rem;
  background: black;
  display: flex;
  justify-content: center;
}

.logo {
  width: 10%;
  height: 3rem;
}

.nav-words {
  display: flex;
  color: white;
  padding: 0 1rem;
  font-size: 1rem;
}

.nashville {
  color: inherit;
  text-decoration: none;
}

.nashville:hover {
  font-size: 1.2rem;
  color: #17f112;

}

.top-o-page {
  text-align: center;
  padding: 3rem;
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  background: #41d0e1;
  font-family: Verdana;
}

h1 {
  font-size: 3rem;
  padding: 2rem 0;
  margin: 0;

}

h6 {
  color: #fff;
  margin: 0;
  padding-bottom: 2rem;
}

.projects {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.left-block {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.left-text {
  // padding: 0 1rem;
  margin: 1rem;
  width: 50%;
}

.text-img_left {
  padding-right: 2rem;
  width: 50%;
}

.right-block {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.right-text {
  // padding: 0 1rem;
  margin: 1rem;
  width: 50%;
}

.text-img_right {
  padding-left: 2rem;
  width: 50%;
}

h3 {
  font-size: 3.3rem;
  margin: 0 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  background: black;
  margin-top: 2rem;
  width: 100%;
}

.icons {
  color: #fff;
  font-size: 2rem;
  width: 60%;
  padding: 0;
  // margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.block-top {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.left-pic {
  width: 30%;
  display: flex;
  margin: 0 1rem;
  position: relative;
}

.left-parent {
  width: 100%;
}

.left-pic_item {
  width: 100%;
  object-fit: fill;
  height: 20rem;

  &:hover {
    .hovered-image_top-left {
      display: flex;
    }
  }
}

.hovered-image_top-left {
  position: absolute;
  display: none;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  left: 20%;
}

.right-parent {
  width: 100%;
}

.right-pic {
  width: 50%;
  display: flex;
  margin: 0 1rem;
  position: relative;
}

.right-pic_item {
  width: 100%;
  height: 20rem;
  object-fit: fill;

  &:hover {
    .hovered-image_top-right {
      display: flex;
    }
  }
}

.hovered-image_top-right {
  position: absolute;
  display: none;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  left: 20%;
}

.hovered-image_btm-right {
  position: absolute;
  display: none;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  left: 20%;
}

.block-btm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.left-pic_btm {
  width: 30%;
  display: flex;
  margin: 0 2rem;
  position: relative;

  &:hover {
    .hovered-image_btm-left {
      display: flex;
    }
  }
}

.left-parent_btm {
  width: 100%;
}

.left-pic_item-btm {
  width: 100%;
  height: 20rem;
  object-fit: fill;
}

.right-parent_btm {
  width: 100%;
}

.right-pic_btm {
  position: relative;
  width: 50%;
  display: flex;
}

.right-pic_item-btm {
  display: flex;
  width: 100%;
  height: 20rem;
  object-fit: fill;

  &:hover {
    display: flex;
  }
}

.hovered-image_btm-left {
  position: absolute;
  // display: none;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  left: 20%;
  background: rgba(0,0,0,0.5);
}

.hovered-image_btm-right {
  position: absolute;
  display: none;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  left: 20%;
}
